@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@-webkit-keyframes flip-in-hor-bottom{0%{-webkit-transform:rotateX(80deg);transform:rotateX(80deg);opacity:0}
100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}
@keyframes flip-in-hor-bottom{0%{-webkit-transform:rotateX(80deg);transform:rotateX(80deg);opacity:0}
100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}

*{margin:0; padding:0; box-sizing: border-box;}

body{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14px; line-height:1.3;
	color:#222;
}
a{color:#222; text-decoration:none;}
img{border:none; vertical-align:top;}
input{vertical-align:top;}
ol, ul{list-style:none;}
button{background-color: transparent;border: transparent; border: 0;}

.clear::after{content: ''; display: block; clear: both;}
.hidden{font-size: 0; color: transparent;}
